<style>
    .routeSeparator{font-weight:600; font-size:15px;}
    .gatewayInput {
        width:230px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .table {
        margin-bottom: 10px;
    }
    .table p {padding:0 20px; line-height:40px}
    .fullBox {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
    .saveBox {
        position: absolute;
        top: 30px;
        right: 0;
        width: 100px;
        margin-top: 3px;
        text-align: center;
    }
</style>
<div if="data.authLevel>2" class="saveBox">
    <button if="data.changed" class="btn btn-primary" onclick="$this.save();">Save</button>
</div>

<div class="fullBox">
    <h3 class="sub-header">Gateway Config<span class="text-muted" style="font-size:14px;margin-left:10px">Docker global var ${discover} redis data</span>
    </h3>
    <table class="table">
        <thead>
        <tr>
            <th width="20%">Key</th>
            <th width="30%">Field</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr each="data.configs" class="{item.changed&&'danger'}">
            <td>
                <input if="data.editMode" type="text" class="form-control" placeholder="Key" bind="item.key"
                       onbind="$this.check(event, 'configs',{index})">
                <span class="text-muted" if="!data.editMode">{item.key}</span>
            </td>
            <td>
                <input if="data.editMode" type="text" class="form-control" placeholder="Field" bind="item.field"
                       onbind="$this.check(event, 'configs',{index})">
                <span class="text-muted" style="word-break: break-all" if="!data.editMode">{item.field}</span>
            </td>
            <td>
                <input if="data.editMode" type="text" class="form-control" placeholder="Value" bind="item.value"
                       onbind="$this.check(event, 'configs',{index})">
                <span class="text-muted" style="word-break: break-all" if="!data.editMode">{item.value}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
