<style>
    .routeSeparator{font-weight:600; font-size:15px;}
    .gatewayInput {
        width:230px;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    .table {
        margin-bottom: 10px;
    }
    .table p {padding:0 20px; line-height:40px}
    .fullBox {
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
    }
    .saveBox {
        position: absolute;
        top: 30px;
        right: 0;
        width: 100px;
        margin-top: 3px;
        text-align: center;
    }
</style>
<div if="data.authLevel>2" class="saveBox">
    <button if="data.changed" class="btn btn-primary" onclick="$this.save();">Save</button>
</div>

<div class="fullBox">
    <h3 class="sub-header">Gateway Config<span class="text-muted" style="font-size:14px;margin-left:10px">Docker global var {$discover} redis data</span>
    </h3>
    <table class="table">
        <tbody>
        <tr>
            <td>Proxies</td>
            <td>
                <p each="data.proxies">
                    <input if="data.editMode" type="text" class="gatewayInput" placeholder="Path" bind="item.path" width="300"
                           onbind="$this.check(event, 'proxies',{index})" {data.editMode!==true?'disabled':''} />
                    <span if="data.editMode" class="routeSeparator"> : </span>
                    <input if="data.editMode" type="text" class="gatewayInput"  placeholder="APP" bind="item.app" width="300"
                           onbind="$this.check(event, 'proxies',{index})" {data.editMode!==true?'disabled':''} />
                    <span if="!data.editMode && item.path.length>0" class="text-muted">{item.path}<span class="routeSeparator"> : </span>{item.app}</span>
                </p>
            </td>
        </tr>
        <tr>
            <td>Rewrites</td>
            <td>
                <p each="data.rewrites">
                    <input if="data.editMode" type="text" class="gatewayInput" placeholder="From URL" bind="item.fromPath" width="300"
                           onbind="$this.check(event, 'rewrites',{index})" {data.editMode!==true?'disabled':''} />
                    <span if="data.editMode" class="routeSeparator"> : </span>
                    <input if="data.editMode" type="text" class="gatewayInput" placeholder="To URL" bind="item.toPath" width="300"
                           onbind="$this.check(event, 'rewrites',{index})" {data.editMode!==true?'disabled':''} />
                    <span if="!data.editMode && item.fromPath.length>0" class="text-muted">{item.fromPath}<span class="routeSeparator"> : </span>{item.toPath}</span>
                </p>
            </td>
        </tr>
        <tr>
            <td width="150">Redis Key Prefix</td>
            <td>{data.prefix}</td>
        </tr>
        </tbody>
    </table>
</div>
